:root{
  background-color:rgb(22, 22, 22);
  color: rgb(186, 186, 186);
}
a{
  color: rgb(78, 78, 241);
  font-weight: bold;
  text-decoration: none;
  padding: 2rem;
}
header{
  background-color: rgb(4, 4, 4);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 2rem;
}
nav{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
   list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
   background-color: rgb(4, 4, 4);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 2rem;
}
main{
  min-height: 30rem;
}