:root{
  background-color:rgb(22, 22, 22);
  color: rgb(186, 186, 186);
}
a{
  color: rgb(78, 78, 241);
  font-weight: bold;
  text-decoration: none;
  padding: 2rem;
}
header{
  background-color: rgb(4, 4, 4);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 2rem;
}
nav{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
   list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
   background-color: rgb(4, 4, 4);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 2rem;
}
main{
   flex-direction: column;
  
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;            /* <-- centre le bloc main dans la page */
  display: flex;
  justify-content: center;   /* centre la section dans le main */
  align-items: center;
}
#sectionForm{
  display: flex;
 flex-direction: column;
  padding: 0.2rem;
  background-color: rgb(54, 54, 54);
  align-items: center;
  justify-content: center;
}

form{
  padding: 0.5rem;
  align-items: center;
  
  display: flex;
  flex-direction: column;
}
.input{padding: 0.4rem;}
.button{
  margin-top: 0.5rem;
}
.titleForm{
  margin-top: 0;
  font-weight: bold;
}